@page "/boards"
@using SurfBoardBlazorWASM.Client.Services
@using SurfBoardBlazorWASM.Client.Shared.Components
@using SurfUpLibary
@inject IBoardPostService boardPostService
<h3>BoardPost</h3>
<div class="container-fluid px-5 text-center">
    <div class="row">
        @foreach (var boardPost in boardPosts)
        {
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-3 gx-5">
                <div class="outerwrapper">
                    <div class="">
                        <img src="@boardPost.BoardImage" class="img-fluid rounded-3" />
                    </div>
                    <div class="recipeName">
                        <h3>@boardPost.Name</h3>
                    </div>
                    <div class="">
                        <button class="btn btn-primary" @onclick="() => OpenDetailDialog()">Details</button>
                        @if (OpenDetailpopup)
                        {
                            <BoardDetailPopup BoardPost="@boardPost" OnClose="@OnDetailDialogClose"></BoardDetailPopup>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*<Weather></Weather>*@
@code {
    List<BoardPost> boardPosts = new List<BoardPost>();

    public bool OpenDetailpopup { get; set; }
}
@functions{
    protected async override Task OnInitializedAsync()
    {
        boardPosts = await boardPostService.GetAllUnrentedBoardPosts();
    }

    private async Task OnDetailDialogClose(bool accepted)
    {
        OpenDetailpopup = false;
        StateHasChanged();
    }

    private void OpenDetailDialog()
    {
        OpenDetailpopup = true;
        StateHasChanged();
    }

}