@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <li>
     <a href="@Url.Action("Index", "BoardPosts")" class="elements">
         Klik mig
     </a>
</li>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
